* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(232, 230, 223);
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 50px;
  min-height: 100vh;
}

h1 {
  font-size: 40px;
  margin-top: 20px;
  text-align: center;
}

.new-note {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.add-note {
  width: 150px;
  height: 60px;
  background-color: rgb(120, 171, 120);
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.add-note:hover {
  background-color: rgb(210, 185, 116);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.note-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 500px;
  background-color: rgb(233, 221, 191);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  z-index: 100;
  max-width: 500px;
  transition: all 0.5s;
}

.note-up,
.note-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.title,
.description {
  font-size: 25px;
  margin-bottom: 20px;
}

.add,
.close {
  width: 100px;
  height: 40px;
  background-color: rgb(115, 157, 119);
  transition: all 0.5s;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.close {
  background-color: rgb(228, 147, 34);
}
input,
textarea {
  background-color: transparent;
  border: 3px solid rgb(75, 75, 75);
  height: 40px;
  border-radius: 10px;
  width: 90%;
  padding: 10px;
}

textarea {
  height: auto;
}

.modal-btns {
  display: flex;
  gap: 20px;
}

.create-note {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.fa-times {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.note {
  width: 300px;
  max-width: 300px;
  min-height: 300px;
  background-color: rgb(104, 154, 98);
  padding: 30px;
  position: relative;
}

.note-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  color: rgb(221, 220, 220);
  letter-spacing: 2px;
}

.note-description {
  color: rgb(221, 221, 221);
  font-size: 16px;
  font-weight: 300;
}

@media (768px <= width) {
  .add,
  .close {
    width: 150px;
  }
}
